$primary-color: #2185d0;
$primary-color-hover: #2185d0;

$white: #fff;
$black: #000;
$gray-light: #f5f5f5;
$gray: #e5e5e5;
$gray-dark: #ccc;
$gray-darker: #999;
$red-light: #ffb3b3;
$red: #ff8080;
$red-dark: #c25353;
$green-light: #b3ffb3;
$green: #80ff80;
$green-dark: #53c25a;
$blue-light: #b3b3ff;
$blue: #8080ff;
$blue-dark: #5353c2;
$yellow-light: #ffffb3;
$yellow: #ffff80;
$yellow-dark: #c2c25a;
$orange-light: #ffb3b3;
$orange: #ff8080;
$orange-dark: #c25353;
$purple-light: #b3b3ff;
$purple: #8080ff;
$purple-dark: #5353c2;
$pink-light: #ffb3b3;
$pink: #ff8080;
$pink-dark: #c25353;
