$color_text: hsl(221, 41%, 20%);
$color_white: #fff;
$color_black: #000;

$color_primary: hsl(221, 83%, 55%);
$color_red: #de5253;
$color_green: #2dbe9f;
$color_orange: #ffa987;
$color_purple: #cc6ecf;
$color_yellow: #f7e75f;
$color_gray_light: #474a51;
$color_gray: #33353b;
$color_gray_dark: #27292d;
