$xs: 5px;
$sm: 10px;
$md: 18px;
$lg: 26px;
$xl: 60px;

$sm-border-radius: 3px;
$md-border-radius: 6px;
$lg-border-radius: 15px;

$transition-time: 200ms;
$short-transition-time: 120ms;

$nav-elements-size: 50px;

$nav-zindex: 100;
$modal-zindex: 1000;
$context-menu-zindex: 999;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1600px;
