.gallery-view {
  width: 90%;
  max-width: 1152px;
  position: relative;
  padding-top: 24px;
  margin: 0 auto;
}

.gallery-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #fff;

  .gallery-body-title {
    text-align: center;
    font-weight: bold;
  }

  .gallery-body-name {
    color: $color_gray_light;

    strong {
      color: $color_white;
    }
  }

  .gallery-body-image-wrapper {
    margin-bottom: 20px;

    .gallery-body-image {
      display: block;
      height: auto;
      margin: 0 auto;
    }

    .gallery-body-image-description {
      padding-bottom: 10px;
      border-bottom: 1px solid $color_gray_light;
    }
  }
}

.gallery-info-tag {
  margin-right: 10px;
}

.gallery-info-count {
  color: darkgray;
}

.gallery-info-row {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;
}

.gallery-info-tag-wrapper {
  margin: 0 5px;
}

.gallery-info-tag {
  padding: 0 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background-color: grey;
}
