h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #33353b;
  padding: 5px 26px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo img {
  width: 94px;
  height: 34px;
}

.container {
  width: 100%;
  margin: 18px auto;
}

.screen {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.container {
  padding: 18px 60px;
  margin-top: 60px;
  scroll-behavior: smooth;
}

.gallery-screen .gallery-filters {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5px;
  margin: 0 auto;
}

.gallery-screen .gallery-filters .filters-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-screen .gallery-filters select {
  width: 100%;
  height: 30px;
  border: none;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: transparent;
}

.gallery-screen .gallery-filters select:focus {
  outline: none;
}

.gallery-screen .gallery-filters select:hover {
  cursor: pointer;
}

.gallery-screen .gallery-filters select option {
  color: #fff !important;
  background-color: #27292d;
  margin-bottom: 5px;
}

.gallery-screen .gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #33353b;
  border-radius: 6px;
  color: #fff;
  width: 240px;
  min-height: 300px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post .post-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 10px;
  border-radius: 6px;
}

.post .post-img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

html {
  height: 100%;
}

html body {
  overflow-y: scroll;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

html body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 0.94rem;
  color: #1e2b48;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27292d;
}

html body #root {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-overflow-style: none;
}
/*# sourceMappingURL=index.css.map */