.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color_gray;
  padding: $xs $lg;
  height: $xl;
  display: flex;
  align-items: center;
  z-index: 3;
  .logo {
    img {
      width: 94px;
      height: 34px;
    }
  }
}
